@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap');

body {
   background-color:#fcf6e1;
   font-family: 'Poppins';
   
}

h1 {
    font-weight:400;
    font-size: 80px;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Pinyon Script';
    color: #e65c00;

 }

 .paragraph1 {
    font-weight: 400;
    font-size: 20px;
    max-width: 100px;
    margin-left: 900px;
    margin-top: 30px;
    text-align:left;
    color: #592828;
 }


.flex-container {
   display: flex;
   flex-direction: row;
   align-items:flex-start;
   justify-content: center;
   background-color: #F9CCE6;
   padding: 300px;
   margin-bottom: 50px;
}
 
.text {
   flex: 1;
   padding: 10px;
   max-width: 50ch;
   margin-left: 50px;
}

.image img {
   max-width:60%;
   margin-left: 120px;
   margin-bottom: 10px;
}

.map-image {
   max-width: 80%;
   margin-left: 130px;
   margin-bottom: 80px;
}

.paragraph2 {
   font-weight: 400;
   font-size: 40px;
   margin-top: 30px;
   text-align:center; 
   font-style: italic;
   color: #592828;
}

.icons {
   height: 191px;
   width: 186px;
   position: fixed;
}

.pic1 {
      left: 35px;
      top: 60px;
      position: absolute;
    max-width: 300px;
    transition: all 0.3s ease;
    transform: scale(1);
}

.pic1:hover {
   transform: scale(1.25);
}